<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Layer 2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,86}</string>
                <key>spriteSourceSize</key>
                <string>{45,86}</string>
                <key>textureRect</key>
                <string>{{0,0},{45,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Layer 4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,86}</string>
                <key>spriteSourceSize</key>
                <string>{45,86}</string>
                <key>textureRect</key>
                <string>{{45,0},{45,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Layer 5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{60,86}</string>
                <key>spriteSourceSize</key>
                <string>{60,86}</string>
                <key>textureRect</key>
                <string>{{90,0},{60,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bar.png</string>
            <key>size</key>
            <string>{150,86}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abfe3ea4153e8d31085d703d97858fbb:37d3c05f324f6d7c4eacc944a09867c1:e8761dc73faa9577e8d19875ec4a2dc1$</string>
            <key>textureFileName</key>
            <string>bar.png</string>
        </dict>
    </dict>
</plist>
