<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>field1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-1}</string>
                <key>spriteSize</key>
                <string>{180,201}</string>
                <key>spriteSourceSize</key>
                <string>{182,203}</string>
                <key>textureRect</key>
                <string>{{920,1},{180,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>field2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{183,201}</string>
                <key>spriteSourceSize</key>
                <string>{183,203}</string>
                <key>textureRect</key>
                <string>{{550,1},{183,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>field3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{180,201}</string>
                <key>spriteSourceSize</key>
                <string>{182,203}</string>
                <key>textureRect</key>
                <string>{{1102,1},{180,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>field4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{180,203}</string>
                <key>spriteSourceSize</key>
                <string>{182,203}</string>
                <key>textureRect</key>
                <string>{{186,1},{180,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>field5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,203}</string>
                <key>spriteSourceSize</key>
                <string>{183,203}</string>
                <key>textureRect</key>
                <string>{{1,1},{183,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>field6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{180,203}</string>
                <key>spriteSourceSize</key>
                <string>{182,203}</string>
                <key>textureRect</key>
                <string>{{368,1},{180,203}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>field7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,1}</string>
                <key>spriteSize</key>
                <string>{180,201}</string>
                <key>spriteSourceSize</key>
                <string>{182,203}</string>
                <key>textureRect</key>
                <string>{{1284,1},{180,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>field8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{183,201}</string>
                <key>spriteSourceSize</key>
                <string>{183,203}</string>
                <key>textureRect</key>
                <string>{{735,1},{183,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>field9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{180,201}</string>
                <key>spriteSourceSize</key>
                <string>{182,203}</string>
                <key>textureRect</key>
                <string>{{1466,1},{180,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>field.png</string>
            <key>size</key>
            <string>{1647,205}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1cbff8345dfab4d0771e81af13ace146:807b47a8404197f4f8e352f591782f91:fe6d1e2ac1d65eca515aa71ee28822eb$</string>
            <key>textureFileName</key>
            <string>field.png</string>
        </dict>
    </dict>
</plist>
